.header {
  background-color: $red;
  margin-bottom: 50px;
  .header__wrapper {
    // not to do like .header .header__wrapper(css) in sass(.scss)
    padding: 5px 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    .header__column {
      //.header__column: last-child(in css)
      i {
        color: white;
        font-size: 30px;
      }
      &:nth-child(2) {
        width: 100%;
        justify-self: center;
      }
      &:last-child {
        justify-self: end;
      }
      ul {
        display: flex;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        a {
          color: white;
        }
        li:not(:last-child) {
          margin-right: 15px;
        }
      }
      form {
        width: 100%;
        input {
          padding: 7px 10px;
          width: 100%;
          border-radius: 5px;
          font-size: 14px;
          color: $black;
          font-weight: 600;
          &::placeholder {
            font-weight: 300;
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}
